
  @import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 0%;
    font-family: Trebuchet MS;
   }

   .alert-msg {
    padding-top: 12px;
  }
  
.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  width: 45%; 
  height: 50px; 
  margin-bottom: 0px;
  margin-top: 49px;
  font-weight: bolder;
  background-color: #c4e9b8;
  color: #48683f;
  text-align: center;
  z-index: 9999;
  }
  
  .alert.error {
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-bottom: 10px;
    background-color: #ecc5c9;
    font-weight: bolder;
    color: #8f3648;
    text-align: center;
  }
  
  
  .alert {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes cssAnimation {
    to {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
  
  @-webkit-keyframes cssAnimation {
    to {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
  
  
   a {
    text-decoration: none;
    color: white;
   }
   a:hover {
    color: #1b1b1b;
   }
   
  

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2b5cd8;
  margin-bottom: 80px;
  color: #FFF;
  height: 60px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

   .navbar img {
    display: inline-block;
    vertical-align: middle;
    background: none;
    width: 50px;
  }

  
 main {
  background-color: #fefefe;
  height: 100vh;
  font-family: "Avenir", sans-serif;
}




.top-layer1 {
  background-color: white;
  border-radius: 18px;
  margin: auto;
  width: 60%;
  box-shadow: 1px 1px 8px 0 grey;
  height: 270px;
  margin-bottom: 20px;
}

.top-layer2 {
  background-color: white;
  border-radius: 18px;
  margin: auto;
  width: 60%;
  box-shadow: 1px 1px 8px 0 grey;
  height: 320px;
  margin-bottom: 20px;
}


#header-div {
  width: 60%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #2b5cd8;
  font-size: 40px;
}

#content-div {
  display: block;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.description {
  font-size: 150%;
  padding-top: 10px;
  margin-left: 10%;
  margin-bottom: 20px;
  color: #2b5cd8;
}

.description2 {
  font-size: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
  color: #2b5cd8;
  width: 80%;
}

form {
  display: block;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.form2{
    display: block;
    flex-direction: row;
    width: 80%;
    margin-left: 9.5%;
    margin-bottom: 40px;
}


.form-profile {
  display: inline;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

#input-div {
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#output-div {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
  background-color: #f1f1f1;
  margin: auto;
  padding: 5px;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 100px;
}

.new-url-result {
  display: inline;
  word-wrap:break-word;
  overflow: hidden;
  font-size: 90%;
  color: #ff7518;
  font-size: 95%;
  font-weight: lighter;
  margin-left: 0px;
  margin-top: 0;
  
}

.custom-url-result {
  display: inline;
  word-wrap:break-word;
  overflow: hidden;
  font-size: 90%;
  color: #ff7518;
  font-size: 95%;
  font-weight: lighter;
  margin-left: 0px;
  margin-top: 0;
  
}



#error-div {
  width: 80%;
  margin: auto;
  color: #e76f51;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.content-row {
  display: block;
}

input[type=text] {
  width: 70%;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #1b1b1b;
  border-radius: 4px;
}


.top-buttons {
  margin: auto;
}

.button {
  background-color: #2b5cd8;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #2b5cd8;
  border-radius: 4px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  display: inline;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: #0f3288;
}

#shorten {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #1b1b1b;
  border-radius: 4px;
}

#new-url {
  display: inline;
  color: black;
  padding: 5px;
  font-size: 24px;
}

#new-url-label {
  font-size: 93%;
}

#custom-url-label {
  font-size: 93%;
}


.text-field-content-row2{
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




section.hero {
  padding: 100px 20px;
  color: #1b1b1b;
  font-size: 24px;
  width: 100%;
  margin: auto;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 18px;
  margin: auto;
  width: 70%;
  box-shadow: 1px 1px 8px 0 grey;
  margin-bottom: 20px;
}

.card-title {
  margin-top: 0;
  font-size: 17px;
}

.card-text {
  word-wrap:break-word;
  margin-bottom: 20px;
  font-size: 32px;
  width: 60%;
}

input#myInput {
  background: none;
  border: none;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.date_created {
  color: #7d7c7c;
  margin-top: 0px;
  font-size: 13px;
  font-weight: lighter;
}

.copy-btn2 {
  background-color: #2b5cd8;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: #2b5cd8 solid;
  border-radius: 4px;
  padding: 6px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: 10px;
  display: inline;
  transition-duration: 0.2s;
}

.copy-btn2:hover {
  background-color: #0f3288;
}


.copy-btn3 {
  overflow:inherit;
  background-color: #2b5cd8;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: #2b5cd8 solid;
  border-radius: 4px;
  padding: 6px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: 0;
  display: inline;
  transition-duration: 0.2s;
}

.copy-btn3:hover {
  background-color: #0f3288;
}


.copy-btn4 {
  overflow:inherit;
  background-color: #2b5cd8;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: #2b5cd8 solid;
  border-radius: 4px;
  padding: 6px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: 0;
  display: inline;
  transition-duration: 0.2s;
}

.copy-btn4:hover {
  background-color: #0f3288;
}


.copy-btn5 {
  overflow:inherit;
  background-color: #2b5cd8;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: #2b5cd8 solid;
  border-radius: 4px;
  padding: 6px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: 0;
  display: inline;
  transition-duration: 0.2s;
}

.copy-btn5:hover {
  background-color: #0f3288;
}




.copy-div {
  display: inline-block;
  margin-left: 2px;
}

.delete-btn2 {
  background-color: #8f3131;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: #8f3131 solid;
  border-radius: 4px;
  padding: 6px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: 10px;
  display: inline;
  transition-duration: 0.2s;
}

.delete-btn2:hover {
  background-color: #670909;
}




.short-url-history {
  margin-bottom: 15px;
  font-weight: lighter;
}

.engagements {
  display: inline-block;
  background-color: #2b5cd8;
  color: white;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
  border: 1px solid;
  border-radius: 3px;
  width: 20px;
  margin-top: 5px;
  align-items: center;
}

.engagement-clicks {
  margin: auto;
  font-weight: lighter;
}

.qrcode_click {
  display: inline;
  font-size: 16px;
}

.qrcode_create {
  color: #2b5cd8;
}

.qrcode_create:hover {
  color: #0f3288;
}

.pagination-container {
  text-align: center;
}

.page-num1 {
  display: inline-block;
  text-align: center;
  color: #2b5cd8;
  font-weight: lighter;
  font-size: 70%;
}

.pagination-numbers {
  display: inline-block;
}

.pagination-link {
  color: #0f3288;
  font-weight: bolder;
}

.pagination-link:hover {
  color: #1a7ddb;
}

.current-page .pagination-link {
  color: #2b5cd8;
  font-weight: lighter;
}


.copy-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b5cd8;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

@media only screen and (max-width: 600px) {


  input[type=text] {
    width: 95%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
  }

  ::placeholder {
    font-size: 12px;
  }

  form{
    margin-bottom: 5px;
  }

  .form2{
    margin-bottom: 5px;
  }

  .top-layer1 {
    width: 80%;
    height: 270px;
    margin-bottom: 40px;
  }

  .top-layer2 {
    width: 80%;
    height: 310px;
    margin-bottom: 40px;
  }

  .description {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .text-field-content-row,
  .text-field-content-row2 {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .top-buttons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #shorten {
    width: 45%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  #clear-btn, #clear-btn2 {
    width: 30%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  #output-div {
    width: 80%;
  }

  .content-row {
    font-size: 16px;

  }

  .copy-div {
    display: flex;
    justify-content: center;
    margin-left: 8px;
  }

  .copy-btn3,
  .copy-btn4 {
    font-size: 16px;
  }

  #error-div {
    width: 80%;
  }

  #output-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 87px;
  }

  .content-row {
    font-size: 10px;
  }

  .copy-btn3, .copy-btn4 {
    font-size: 14px;
    padding: 4px 8px;
  }

  .description2 {
    font-size: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
    color: #2b5cd8;
  }

  .card {
    padding: 10px;
    background-color: white;
    border-radius: 18px;
    margin: auto;
    width: 85%;
    box-shadow: 1px 1px 8px 0 grey;
    margin-bottom: 20px;
  }

  .alert {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 65%; 
    height: 50px; 
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bolder;
    background-color: #c4e9b8;
    color: #48683f;
    text-align: center;
    z-index: 9999;
    }
    
    .alert.error {
      border-radius: 10px;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      height: 40px;
      margin-bottom: 10px;
      background-color: #ecc5c9;
      font-weight: bolder;
      color: #8f3648;
      text-align: center;
    }
    
    .alert {
      -moz-animation: cssAnimation 0s ease-in 5s forwards;
      -webkit-animation: cssAnimation 0s ease-in 5s forwards;
      -o-animation: cssAnimation 0s ease-in 5s forwards;
      animation: cssAnimation 0s ease-in 5s forwards;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    
    @keyframes cssAnimation {
      to {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
    
    @-webkit-keyframes cssAnimation {
      to {
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }


}
