@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
}

body {
    background-color: #e8f5ff;
    font-family: Arial;
}

.title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */



.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}



/* Main */
.main {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    padding: 0 10px;
    width: 90%;
}

.main h2 {
    color: #2b5cd8;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    width:65%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 0 10px 20px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.social-media {
    text-align: center;
    width: 90%;
}

.social-media span {
    margin: 0 10px;
}

/* End */

@media only screen and (max-width: 600px) {

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 0 10px 20px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    color: #043c8c;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .profile-info i {
    margin-right: 5px;
    margin-top: 2px;
  }
  

  .profile-actions {
    display: flex;
    gap: 10px;
  }
  
 