{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">

{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% set error_displayed = false %}
    {% for message in messages %}
      {% if 'error' in message.lower() and not error_displayed %}
        {% set error_displayed = true %}
        <div role="alert" class="alert error">
          <p class="alert-msg">{{ message }}</p>
        </div>
      {% elif 'error' not in message.lower() %}
        <div role="alert" class="alert normal">
          <p class="alert-msg">{{ message }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

<section class="top-nav">
  <div>
    Snip
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
</label>
  <ul class="menu">
    {% if current_user.is_authenticated %}
                <li><a href="{{ current_user.id }}/profile/">Profile</a></li>
                <li><a href="{{ url_for('snipe.about') }}">About</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
  </ul>
</section>




<div class="top-layer1">
  <h1 class="description">Create short URL</h1>
  <form action="{{ url_for('snipe.create') }}" method="POST">
    <center>
      <input type="text" class="text-field-content-row" name="url" placeholder="Enter your long URL here . . ." id="input-field" required/>
    </center>
    <div class="top-buttons">
      <center>
        <button type="submit" id="shorten" class="content-row button">Shorten URL</button>
        <button type="button" id="clear-btn" class="content-row button">Clear</button>
      </center>
    </div>
  </form>

  <!-- Output and copy -->
  <div id="output-div">
    <div class="content-row" id="new-url-label">Your short URL - <p class="new-url-result">{{new_url}}</p></div>
    <div class="copy-div">
      <button type="button" id="copy-btn" class="copy-btn3" data-clipboard-target="#new-url">Copy</button>
    </div>
  </div>
  <div id="error-div">
    <p class="content-row" id="error-text"></p>
  </div>
</div>

<div class="top-layer2">
  <h1 class="description">Create custom URL</h1>
  <form action="{{ url_for('snipe.custom') }}" method="POST" class="form2">
    <input type="text" class="text-field-content-row2" name="long_url" placeholder="Enter your long URL here . . ." id="input-field" required/>
    <input type="text" class="text-field-content-row2" name="custom_url_entry" placeholder="Enter your custom URL here . . ." id="custom-input-field" required style="margin-bottom: 0px;"/>
    <center>
      <button type="submit" id="shorten" class="content-row button">Custom URL</button>
      <button type="button" id="clear-btn2" class="content-row button">Clear</button>
    </center>
  </form>

  <!-- Output and copy -->
  <div id="output-div">
    <div class="content-row" id="custom-url-label">Your custom URL - <p class="custom-url-result" id="custom-url-created">{{custom_url_created}}</p></div>
    <div class="copy-div">
      <button type="button" id="copy-btn1" class="copy-btn4" data-clipboard-target="#custom-url-created" class="content-row button">Copy</button>
    </div>
  </div>
  <div class="" id="error-div">
    <p class="content-row" id="error-text"></p>
  </div>
</div>






<!-- App script -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/engage.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

{% endblock %}
