<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
    {% block head %}
        <title>Password change</title>
    {% endblock %}   
</head>


{% block body %}

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}

      {%- for msg in errors %}
        <div role="alert" class="alert"><p class="alert-msg"><strong> {{ msg }} </strong></p></div>
      {% endfor -%}
    {% endif %}
  {% endwith %}


    <div class="signupFrm">
      
          <form action="{{ url_for('auth.change_password') }}" method="POST" class="form">
            <h1 class="title" style="font-size: 35px; margin-bottom: 30px;">Change password</h1>
    
            <div class="inputContainer">
              <input type="password" name="current_password" class="input" placeholder="a" required>
              <label for="Password" class="label">Your old password</label>
            </div>

            <div class="inputContainer">
                <input type="password" name="new_password" class="input" placeholder="a" required>
                <label for="Password" class="label">Your new password</label>
            </div>

            <div class="inputContainer">
                <input type="password" class="input" name="password_confirmation" placeholder="a" required>
                <label for="Password" class="label">Confirm password</label>
            </div>
            
            <input type="submit" class="submitBtn" value="Change password">
              <center>
                <p>
                  Forgot password? <a href="{{url_for('auth.signup')}}">Click here</a>
                </p>
              </center>
          </form>
    </div>

{% endblock %}